@import "./timeA.css";
@import "./timeB.css";

.block-container{
    display: grid;
    grid-template-rows: minmax(150px, max-content) 75vh minmax(150px, max-content);
    gap: 10px;
}

.block-container div {
    border-radius: 6px;
}

.block {
    width: 100%;
}

.var-0 {
    background-color: aquamarine;
}

.var-1 {
    background-color: black;
}

.var-2 {
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    position: relative;  /* A referencia de posição para o filho */
}

img {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}

.var-3 {
    background-color: black;
}

.var-4 {
    background-color: slategray;
}

.coluna {
    display: grid;
    grid-template-columns:  minmax(350px, max-content) 1fr minmax(350px, max-content);
    gap: 10px;
}

.color {
    color: #fff;
}

.var-0,
.var-1,
.var-2,
.var-3,
.var-4 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}