/* Referente a imagem e a posição de cada jogador em campo */
span {
    color: #fff;
    position: absolute;  /* Disponibilizar todo o espaço para o filho */
    z-index: 2;  /* Trás o nome dos jogadores para frente da imagem */
    rotate: 90deg;
    transform: scaleY(-1) scaleX(-1);
    font-weight: bold;
    display: flex;  /* Acrescentou para poder colocar a imagem da escalação */
    flex-direction: column;  /* Acrescentou para poder colocar a imagem da escalação */
}

/* Imagem da escalação - teve que configurar display e flex-direction no span */
.imagemEscalacao {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: static;
}

/* Referente aos jogadores */
.var-2 span:nth-child(2) {
    color: yellow;
    top: 44%;
    left: 4%;
    font-size: 18px;
}

.var-2 span:nth-child(3) {
    color: red;
    top: 20%;
    left: 15%;
    font-size: 18px;
}

.var-2 span:nth-child(4) {
    color: red;
    top: 65%;
    left: 15%;
    font-size: 18px;
}

.var-2 span:nth-child(5) {
    color: red;
    top: 48.5%;
    left: 15%;
    font-size: 18px;
}

.var-2 span:nth-child(6) {
    color: red;
    top: 16%;
    left: 15%;
    font-size: 18px;
}

.var-2 span:nth-child(7) {
    color: red;
    top: 16%;
    left: 15%;
    font-size: 18px;
}

.var-2 span:nth-child(8) {
    color: red;
    top: 16%;
    left: 15%;
    font-size: 18px;
}

.var-2 span:nth-child(9) {
    color: red;
    top: 16%;
    left: 15%;
    font-size: 18px;
}

.var-2 span:nth-child(10) {
    color: red;
    top: 16%;
    left: 15%;
    font-size: 18px;
}

.var-2 span:nth-child(11) {
    color: red;
    top: 16%;
    left: 15%;
    font-size: 18px;
}

.var-2 span:nth-child(12) {
    color: red;
    top: 16%;
    left: 15%;
    font-size: 18px;
}